body{
	background:#fff;
	font-family: 'Lato-Regular';
	<!--font-family 可以把多个字体名称作为一个回退系统 -->
}
body a{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.logo {
    text-align: center;
    padding: 25px 0 20px 0px;
    border-bottom: 1px solid #DEDEDE;
}
.logo a h1 {
    font-size: 32px;
    color: #000000;
    margin: 0;
    font-family: 'Lora-Regular';
	display: inline-block;
}
.logo a:hover{
	text-decoration:none;
}
.top-header {
    background: #000;
    padding: 10px 0px;
}


a.simpleCart_empty {
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Lato', sans-serif;
    font-size: 11px;
}
span.simpleCart_total {
    font-size: 13px;
}

.total {
	display: inline-block;
	vertical-align: middle;
	color: #fff;
}
.box_1 {
	float:right;	
}
.cart box_1 a:hover{
	text-decoration:none;
}

.box {
    float: left;
    width: 20%;
    margin-right: 10%;
}
.box a{
	font-size:20px;
	color:white;
}
.box p{
	margin:0 auto;
}

.about {
    padding: 5em 0px 4em 0px;
}
.about-left img{
	width:100%;
}
.about-left figure {
	position: relative;
	float: left;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
	width:100%;
}
.about-left figure img {
	position: relative;
	display: block;
}
.features-grids figure figcaption {
	padding: 2em;
	color: #fff;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}
.about-left figure figcaption::before,
.fcol1 figure figcaption::after {
	pointer-events: none;
}
.about-left figure figcaption{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
figure.effect-bubba {
	background: rgba(6, 107, 195, 0.85);
}
figure.effect-bubba:hover img {
	opacity: 0.3;
}
figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s,-webkit-transform 0.35s;	
	-moz-transition: opacity 0.35s, -moz-transform 0.35s;
	-o-transition: opacity 0.35s, -o-transform 0.35s;
	-ms-transition: opacity 0.35s, -ms-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}
figure.effect-bubba figcaption::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	-moz-transform: scale(0,1); 
	-o-transform: scale(0,1);
	-ms-transform: scale(0,1);
	transform: scale(0,1);
}
figure.effect-bubba figcaption::after {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	-moz-transform: scale(1,0);
	-o-transform: scale(1,0);
	-ms-transform: scale(1,0);
	transform: scale(1,0);
}
figure.effect-bubba h4,figure.effect-bubba h2 {
	padding-top: 22%;
	-webkit-transition: transform 0.35s;
	-moz-transition: transform 0.35s;
	-o-transition: -o-transform 0.35s;
	-ms-transition: -ms-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-20px,0);
	-moz-transform: translate3d(0,-20px,0);
	-o-transform: translate3d(0,-20px,0);
	-ms-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
	opacity:0;
	color:#fff;
	font-size: 1.8em;
    font-family: 'BreeSerif-Regular';
}
figure.effect-bubba h4.gal {
	padding-top: 21%;
}
figure.effect-bubba p {
	padding: 0px 3.5em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	-moz-transition: opacity 0.35s, -moz-transform 0.35s;
	-o-transition: opacity 0.35s, -o-transform 0.35s;
	-ms-transition: opacity 0.35s, -ms-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	-moz-transform: translate3d(0,20px,0);
	-o-transform: translate3d(0,20px,0);
	-ms-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
	color:#fff;
	font-size: 1em;
	font-family: 'Lato-Regular';
}
figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
figure.effect-bubba:hover h4,
figure.effect-bubba:hover p,figure.effect-bubba:hover h2 {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.header-bottom {
    padding: 13px 0px 8px 0px;
}

#myCarousel {  
   margin: 0 0 0 0;  
}  
.carousel-inner img{  
    margin: 0 auto;  
}  
.carousel-control{  
  font-size: 100px;  
 }
 
 .product-left {
    text-align: center;

}
.product-main {
    padding: 1em 0px 2.7em 0px;
    border:1px solid #ECEAEA;
}
.product {
    padding: 3em 0px 6em 0px;
}
.product-bottom h3 {
    font-size: 16px;
    color: #000;
    margin: 0;
    text-transform: uppercase;
	font-family: 'BreeSerif-Regular';
}
.product-bottom h4 span{
    font-size: 17px;
    color: #000;
    margin: 5px 0 0 0;
    font-family: 'BreeSerif-Regular';
}
.product-bottom h4 i {
    background: url(../images/cart-2.png) no-repeat;
    width: 20px;
    height: 15px;
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
}
.product-left:hover .product-bottom h4 i{
	background: url(../images/cart-3.png) no-repeat;
}
.product-bottom {
    text-align: left;
    margin-top: 20px;
    padding-left: 30px;
}
.product-bottom p {
	font-size: 12px;
    color: #999;
    margin: 5px 0 0 0;
    text-transform: uppercase;
}
.product-one:nth-child(2){
	margin-top:30px;
}
img.zoom-img {
    -webkit-transform: scale(1, 1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1, 1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
	margin: 0 auto;
}
.product-left:hover img.zoom-img{
    -webkit-transform: scale(1.05);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 700ms;
    -moz-transform: scale(1.05);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 700ms;
    overflow: hidden;
	cursor:pointer;
}
a.mask {
    text-decoration: none;
    overflow: hidden;
    display: block;
    padding: 12px 0px;
}
.product-left:hover .product-bottom h3{
	color:#73B6E1;
	transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}
.product-left:hover .product-bottom h4 span{
	color:#73B6E1;
	transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}
.product-left:hover .product-main{
	border:1px solid #73B6E1;
	transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}
.product-left:hover .srch{
	display:block;
}
.srch {
    display: none;
    position: absolute;
    top: 18%;
    left: 16px;
}
.srch span {
    background: #73B6E1;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    padding: 10px 25px;
}
.yonghuming{
	color:white;
	font-size:16px;
	 float: left;
}